/*=====================Menu===================*/
ul.menu {
    list-style: none;
}

ul.menu li {
    float: left;
    padding: 10px;
}
/*=====================Content====================*/
body {
    background: url(../images/background.jpg);
}

.jumbotron.jumbotron-fluid {
    opacity: 0.5;
}

h1 {
    text-align: center;
}

/*Instructions styling*/
.instructions {
    background: rgba(255,255,255,0.7);
    padding: 20px;
}
/*End of insturctions styling*/
/*Gemstones*/
.gemstones img{
	max-width: 50px;
}

.col-md-7.gem-center .gemstones {
	text-align: center;
}

.col-md-7.gem-center .gemstones img {
    margin: 10px;
}
/*End of Gemstones*/

/*Scoreboard*/


.col-md-7.computer-score {
    background: #00adff;
    text-align: center;
    color: #fff;
    padding: 30px;
}

.col-md-4.win-loss {
    background: green;
    color: #fff;
    padding: 20px;
}

.col-md-4.total-box {
    background: #2ae0f6;
    text-align: center;
}